
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.body{
        padding-right: 150px;
    padding-left: 150px;
}
}
.btn-group > .btn + .dropdown-toggle  {
    padding-right: 8px;
    padding-left: 8px;
    position: absolute!important;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.userTitle{
    font-family:Calibri;
    color:cornflowerblue;
    font-weight:bold
}
.header{
    position:center;
    margin-top:20px;
    background-color:#F5F5F5;
      
}
.nav-pills > li > a{
    border-radius:0px!important;
}
.rowNoBottom{
    margin-top: 0 !important;    
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color:lightgray!important;    
}
.content {
    display: none;
}
.nav{
    margin-top:15px;
}
a{
    color:grey!important;
}
#dateTimePicker{

    margin-left:15px;
}

.realContent{
    margin-top:30px
}

.form{
   padding:15px;   
   
}
.bg-danger {
    background-color:#ED91A0!important;
}
.bg-info{
    background-color:#F2BB7C!important;
}
.bg-success{
    background-color:#B0EBC2!important;
}
.k-group-indicator{
    background-color:whitesmoke!important;
}

.btn-danger{
    background-color:#ED91A0!important;
    border-color:#ED91A0!important;
}
.label-default{
    background-color:grey!important;
    
}
.panel-heading{
    background-color:whitesmoke!important;
}
.label-info{
    background-color:#76C1F7!important;
}
.label-danger{
    background-color:#ED91A0!important
}
.label-success{
    background-color:darkseagreen!important
}
.label-warning{
    background-color:lightsalmon!important;
}
div  .k-grid .k-grouping-header{
    background-color:whitesmoke;
    color:gray;
}
.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.left{
    float:left;
    padding-left :250px;
}


.col-md-1 >span{
    display:block;width: 100px;font-size: small; text-align: left;margin-top:10px;
}

.row{
    margin-top:15px;
}

.demo-section {
        width: 600px;
        padding: 20px 30px;
    }

        .demo-section:after {
            content: "";
            display: block;
            clear: both;
            height: 0;
        }

        .demo-section p {
            margin: 3px 0 20px;
            line-height: 40px;
        }

        .demo-section .k-button {
            width: 200px;
        }

    #appendto {
        height: 170px;
        border-radius:4px;
        background-color:transparent;
        margin: 1em 0;
        margin-top:30px;
        overflow: auto;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}
